* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.col-lg-12.col-md-12.col-sm-12 {
    height: 70px;
    width: 100%;
    background-color: #2c3e50;
}

.start-bootstrap.col-lg-12.col-md-12.col-sm-12 {

    height: 400px;
    width: 100%;
    background-color: #1abc9c;
}

.portfolio.col-lg-4.col-md-6.col-sm-12 {

    width: 100%;
    
}

.box {
    height: 200px;
    background-color: red;
    border: 1px solid black;
}

.about.col-lg-6.col-md-6.col-sm-12 {
    height: 400px;
    width: 100%;
    background-color: #1abc9c;

}

.contact.col-lg-12.col-md-12.col-sm-12 {
    height: 400px;
    width: 100%;
    background-color: white;
}

.up.col-lg-4.col-md-4.col-sm-12 {
    height: 400px;
    width: 100%;
    background-color: #3a546d;
}

.down.col-lg-12.col-md-12.col-sm-12 {
    height: 70px;
    width: 100%;
    background-color: #2c3e50;
}